 <h1>Configuración</h1>
                <form action="">
                    <label for="password">Nueva contraseña</label>
                    <input type="password" name="password">
                    <label for="oldpassword">Contraseña actual</label>
                    <input type="password" name="oldpassword">
                    <input type="submit" id="updatePassword" value="Actualizar contraseña">
                </form>
                <a href="#" id="roleButton" class="instructor">Convertirte en instructor</a>
                <!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Haz actualizado tu contraseña</p>
  </div>

</div>
<!-- The Modal -->
<div id="roleModal" class="modal">
    
  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header">
        <span class="close">×</span>
        <h2>Estas apunto de convertirte en instructor.</h2>
    </div>
    <p>Como instructor podrás crear cursos gratuitos y de paga, por favor confirma que deseas cambiar el tipo de perfil, descuida aun podrás inscribirte a otros cursos como lo has hecho hasta el momento.<br>
    
    </p>
    <div class="confirmButtons">
        <a href="#" id="confirmRole" class="confirm">Confirmar</a><a href="#" id="cancelRole" class="confirm">Cancelar</a>
    </div>
  </div>

</div>