 <h1>Configuración</h1>
                <form action="">
                    <label for="password">Nueva contraseña</label>
                    <input type="password" name="password">
                    <label for="oldpassword">Contraseña actual</label>
                    <input type="password" name="oldpassword">
                    <input type="submit" name="newpassword" value="Actualizar contraseña">
                </form>
                <a href="#" class="instructor">Convertirte en instructor</a>