 <h1>Configuración instructor</h1>
 <hr>
  <h1>Administrador de cursos</h1>
 <hr>
    <div class="opciones">
        <a class="tarjeta" href="#">
        
            <h1><i class="fa fa-plus-circle fa-3x"></i></h1>
            <p>Agregar curso</p>
    </a>
        <a href="#" class="tarjeta">
        
            <h1><i class="fa fa-edit fa-3x"></i></h1>
            <p>Editar</p>
        </a>
        <a href="#" class="tarjeta">
        
            <h1><i class="fa fa-minus-circle fa-3x"></i></h1>
            <p>Dar de baja curso</p>
        </a>
        <a href="#" class="tarjeta">
            <h1><i class="fa fa-cog fa-3x"></i></h1>
            <p>Configuración</p>
            
        </a>
        <a href="#" class="tarjeta">
        
            <h1><i class="fa fa-ticket fa-3x"></i></h1>
            <p>Crear cupón</p>
        </a>
        <a href="#" class="tarjeta" href="#">
        
            <h1><i class="fa fa-envelope fa-3x"></i></h1>
            <p>Crear anuncío</p>
        </a>
    </div>
                <h1>Cambiar contraseña</h1>
                <hr>
                <form action="">
                    <label for="password">Nueva contraseña</label>
                    <input type="password" name="password">
                    <label for="oldpassword">Contraseña actual</label>
                    <input type="password" name="oldpassword">
                    <input type="submit" id="updatePassword" value="Actualizar contraseña">
                </form>
              
                <!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p id="response"></p>
  </div>

</div>
