<aside>
    
        <div class="form">
            
            <form class="register" action="">
                <h1>Registrate</h1>
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" placeholder="Usuario">
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña">
                <label for="re-password">Confirmar contraseña</label>
                <input type="password" name="re-password" placeholder="Contraseña">
                <label for="email">Correo electronico</label>
                <input type="email">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" placeholder="Nombre">
                <label for="apellidop">Apellido Paterno</label>
                <input type="text" name="apellidop" placeholder="Nombre">
                <label for="apellidom">Apellido Maternos</label>
                <input type="text" name="apellidom" placeholder="Nombre">
                <input type="submit" value="Registrarme!">
            </form>
        </div>
</aside>