
                <img src="www/img/perfil.jpg" alt="">
                <nav>
                    <span class="user">{{usuario}}</span>
                    <span><h3>{{cursos}}</h3></span>
                    <div class="options">
                        <a href="index.php?page=configurar"  alt="Configuración" class="sidebar"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <a href="#" alt="Salir" id="logout" class="sidebar"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </nav>
